<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kissan King website</title>
    <link rel="stylesheet" href="static/css/style copy.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">

</head>
<body>
<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="{{ url_for('static',filename='images/logo.png') }}" width="125px">
            </div>

            <!------search bar------->
            <div class="search-1">
                <input type="text" name="box" placeholder="Search for product">
                <a href="fruits_apple.html" class="btn-1">Search</a>
            </div>

            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="aboutus_extra.html">About</a></li>
                    <li><a href="contact_us.html">Contact</a></li>
                    <li><a href="">Account</a></li>
                </ul>
            </nav>
            <img src="{{ url_for('static',filename='images/cart.png') }}" width="30px" height="30px" alt="">
            <img src="{{ url_for('static',filename='images/menu.png') }}" class="menu-icon">

        </div>
        <div class="row">
            <div class="col-2">
                <h1>Know Your Farmer,<br>Know Your Food!</h1>
                <p>Patronize your local farmers instead of chain Intermediates,<br>help farmers market themselves.</p>
            </div>
            <div class="col-2">
                <img src="{{ url_for('static',filename='images/page1.jpg') }}" alt="page1">
            </div>
        </div>
    </div>
</div>


<!------featured categories-------->
<div class="categories">]
    <div class="small-container">
    <div class="row">
        <div class="col-3 title">
            <a href="{{ url_for('fruits_b') }}"><img src="{{ url_for('static',filename='images/category-1.jpeg') }}" alt="">
            </a>
            <h2>Fruits</h2>
        </div>
        <div class="col-3 title">
            <a href="{{ url_for('grains_b') }}"><img src="{{ url_for('static',filename='images/category-3.webp') }}" alt="">
            <h2>Grains</h2>
        </div>
        <div class="col-3 title">
            <a href="{{ url_for('veges_b') }}"><img src="{{ url_for('static',filename='images/category-2.jpg') }}" alt="">
            <h2>Vegetables</h2>

        </div>
    </div>
    </div>
</div>
<!------featured products----------->
    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
        <div class="col-4">
            <img src="{{ url_for('static',filename='images/product-1.webp') }}" alt="">
            <h4>Onions</h4>
            <p>&#8377 29/kg<br>&#9733 &#9733 &#9733 &#9733 &#9734</p>
        </div>

        <div class="col-4">
            <img src="{{ url_for('static',filename='images/product-2.jpg') }}" alt="">
            <h4>Potatoes</h4>
            <p>&#8377 60/kg<br>&#9733 &#9733 &#9733 &#9733 &#9733</p>
        </div>

        <div class="col-4">
            <img src="{{ url_for('static',filename='images/product-3.jpg') }}" alt="">
            <h4>Rajma</h4>
            <p>&#8377 260/kg<br>&#9733 &#9733 &#9733 &#9733 &#9734</p>
        </div>

        <div class="col-4">
            <a href="fruits_apple.html"><img src="{{ url_for('static',filename='images/product-4.webp') }}" alt=""></a>
            <h4>Apples</h4>
            <p>&#8377 147/kg<br>&#9733 &#9733 &#9733 &#9733 &#9733</p>
        </div>
    </div>
    </div>

    <div class="small-container">
    <h2 class="title">Latest Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="{{ url_for('static',filename='images/product-5.jpg') }}" alt="">
            <h4>Brocolli</h4>
            <p>&#8377 99/kg<br>&#9733 &#9733 &#9733 &#9733 &#9734</p>
        </div>

        <div class="col-4">
            <img src="{{ url_for('static',filename='images/product-6.jpg') }}" alt="">
            <h4>Jalepeno</h4>
            <p>&#8377 111/kg<br>&#9733 &#9733 &#9733 &#9734 &#9734</p>
        </div>

        <div class="col-4">
            <img src="{{ url_for('static',filename='images/product-7.jpeg') }}" alt="">
            <h4>Green Apple</h4>
            <p>&#8377 127/kg<br>&#9733 &#9733 &#9733 &#9733 &#9733</p>
        </div>

        <div class="col-4">
            <img src="{{ url_for('static',filename='images/product-8.webp') }}" alt="">
            <h4>Avacado</h4>
            <p>&#8377 149/kg<br>&#9733 &#9733 &#9733 &#9734 &#9734</p>
        </div>

        <div class="col-4">
            <img src="{{ url_for('static',filename='images/product-9.jpeg') }}" alt="">
            <h4>Blueberry</h4>
            <p>&#8377 169/kg<br>&#9733 &#9733 &#9733 &#9733 &#9734</p>
        </div>

        <div class="col-4">
            <img src="{{ url_for('static',filename='images/product-10.jpg') }}"  alt="">
            <h4>Strawberry</h4>
            <p>&#8377 121/kg<br>&#9733 &#9733 &#9733 &#9733 &#9733</p>
        </div>

        <div class="col-4">
            <img src="{{ url_for('static',filename='images/product-11.jpg') }}"  alt="">
            <h4>Peer</h4>
            <p>&#8377 151/kg<br>&#9733 &#9733 &#9733 &#9733 &#9734</p>
        </div>

        <div class="col-4">
            <img src="{{ url_for('static',filename='images/product-12.jpg') }}"  alt="">
            <h4>Kiwi</h4>
            <p>&#8377 147/kg<br>&#9733 &#9733 &#9733 &#9733 &#9733</p>
        </div>
        </div>
</div>
<!----Offer----->

<div class="offer">
    <div class="small-container">
        <div class="row">

            <div class="col-2">
                <img src="{{ url_for('static',filename='images/exclusive.jpg') }}" class="offer-img">
            </div>

            <div class="col-2">
                <p>Fresh Veggies and Fruits direct from the farms<br>Exclusively Available on></p>
                <h1>Kissan King</h1>
            </div>

        </div>
    </div>
</div>

<!----footer---->

<div class="footer">
    <div class="container">
        <div class="row">
        <div class="footer-col-1">
            <h3>Buy Now</h3>
        </div>
        <div class="footer-col-2">
            <img src="{{ url_for('static',filename='images/logo.png') }}"  alt="">
            <p>Our purpose is to efficiently make the Pleasure of fresh Farm Produce Available to Many by Benefiting both the Farmers and the Consumers.</p>
        </div>
        <div class="footer-col-3">
            <h3>Useful Links</h3>
            <ul>
                <li>Coupons</li>
                <li>Blog Post</li>
                <li>Return Policy</li>
                <li>Join Affiliate</li>
            </ul>
        </div>
        <div class="footer-col-4">
            <h3>Follow us</h3>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Youtube</li>
            </ul>
        </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2022 - Kissan King</p>
    </div>
</div>
</body>
</html>